@charset "UTF-8";
/*
#A25ADB
#CD5ADB
#896FDB
#E0797A*/

body {
  background-color:#e09bc591; 

}
.title {
  font-weight: 700;
  background-color:white ;
  width: 250px;
  height: 50px;
  margin: auto;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.192);
  text-align: center;
}
#principais-estilos {
  background-color:#886fdbb4 ;
  border: 3px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.171);
  padding: 10px;
  margin: 30px;
  width: 600px;
}
#principais-estilos .paragrafo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14;
  color:white;
  line-height:1.5em;
}
/*Display flex você aplica no pai dos elemntos, aqui no cado o pai é o container*/
#flexbox .container { 
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content:space-between; /*center, flex-start, flex-end*/
  align-items:center ;
}
#flexbox .container  .box {
  width: 150px;
  height: 150px;
  background-color:#896FDB ;
}

#flexbox .container  .box2 {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color:#CD5ADB ;
}

#grid-layout .container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  
}

#grid-layout {
  margin-top: 50px;
}

#grid-layout .container-grid .caixa {
  width: 150px;
  height: 150px;
  background-color:#E0797A ;
 
}
